@page
@model NewPageModel
@{
    ViewData["Title"] = "MyNewPage";
}


<h1>Lab 10</h1>
<hr />

<div class="row">
    <div class="col-4 border border-warning">
        <form method="post">
        <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" type="text" class="form-control" id="formGroupExampleInput" >
        </div>
        <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <button type="submit" class="btn btn-warning">Submit</button>        
        </form> 
        <p> @Model.FirstName @Model.LastName</p>

        </div>
    <div class="col-8 border border-warning">
        <img src="img/hellokitty.png">
    </div>
</div>

<div class="row">
    <div class="col-4 border border-warning">
        Column One 
    </div>
    <div class="col-4 border border-warning">
        Column Two
    </div>
    <div class="col-4 border border-warning">
        Column Three
    </div>
</div>





