@page
@model NewPageModel
@{
    ViewData["Title"] = "MyNewPage";
}


<h1>Lab 10</h1>
<hr />

<div class="row">
    <div class="col-4 border border-warning">
        <form>
        <div class="form-group">
        <label for="formGroupExampleInput">First Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput">
        </div>
        <div class="form-group">
        <label for="formGroupExampleInput2">Last Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
        </div>
        <button type="submit" class="btn btn-warning">Submit</button>
        </form> 
        </div>
    <div class="col-8 border border-warning">
        <img src="img/hellokitty.png">
    </div>
</div>

<div class="row">
    <div class="col-4 border border-warning">
        Column One 
    </div>
    <div class="col-4 border border-warning">
        Column Two
    </div>
    <div class="col-4 border border-warning">
        Column Three
    </div>
</div>





